@use "../vars/Colours";

.bar-chart {
  height: 7em;
  width: 7.5em;
  display: flex;
  flex-direction: column;

  .colour-text {
    text-align: center;
    flex-shrink: 1;
    display: flex;
    border-bottom: 1px dashed white;

    > * {
      flex: 1 0 0;
      width: 2.5em;
    }
  }

  .bars-container {
    flex-basis: 4em;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .bars {
      position: relative;
      height: 80%;
      flex-grow: 1;
      display: flex;
      align-items: end;
      justify-content: stretch;
      border-bottom: 1px dashed black;
      .bar {
        position: relative;
        flex-grow: 1;

        .colour-letter {
          position: absolute;
          left: 50%;
          bottom: 0%;
          transform: translate(-50%);
          font-size: 1.4em;
        }
      }

      .slider {
        appearance: none;
        background-color: transparent;
        &::-webkit-slider-thumb {
          visibility: hidden;
          cursor: pointer;
          width: 20%;
          height: 4.5em;
        }

        position: absolute;
        top: 49%;
        width: 76%;
        height: 55%;
        transform: translate(-50%, -50%) rotate(-90deg);

        &.slider-red {
          left: 15%;
        }
        &.slider-green {
          left: 49%;
        }
        &.slider-blue {
          left: 82%;
        }
      }
    }
  }

  .result-container {
    flex-basis: 1.2em;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: stretch;
    .result {
      flex-grow: 1;
    }
  }

  .interact-icon {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    color: grey;
  }

  &:has(.slider-red:hover) .bar-red .interact-icon {
    color: white;
  }
  &:has(.slider-green:hover) .bar-green .interact-icon {
    color: white;
  }
  &:has(.slider-blue:hover) .bar-blue .interact-icon {
    color: white;
  }
}
