.base-indicator-container {
  display: flex;
  justify-content: center;
  .base-indicator {
    display: flex;
    flex-direction: column;
    align-items: start;
    .base-indicator-label {
      > span,
      label {
        font-size: 0.5em;
        padding: 0.2em;
      }
    }
    .base-indicator-content {
      border: 1px solid grey;
      border-radius: 0.25em;
    }
  }
}
