.collapsor {
  position: relative;
  cursor: pointer;

  &:hover {
    color: black;
    background-color: gray;
    border: white solid 1px;
    border-top: 0px;
    border-right: 0px;
  }

  .icon {
    font-size: xx-large;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
