@use "../_theme";

.round-summary {
  box-sizing: border-box;
  padding: 1em;

  &.collapsed {
    display: none;
  }

  .person-container {
    width: 11em;
    height: 22em;
  }
  .person-role {
    font-size: 1.5em;
  }

  .suspect-breakdown .breakdown-charts {
    margin-right: 1em;
  }
  .accused-breakdown .breakdown-charts {
    margin-left: 1em;
  }

  .collapsor {
    z-index: theme.$z_control-panel_suspect-info;
  }
}
