.round-summary {
  box-sizing: border-box;
  width: 40%;

  .person-container {
    width: 11em;
    height: 22em;
  }
  .person-role {
    font-size: 1.5em;
  }

  .suspect-breakdown .breakdown-charts {
    margin-left: 1em;
  }
  .accused-breakdown .breakdown-charts {
    margin-right: 1em;
  }
}
