@use "../vars/Colours.scss";

.selection-mode {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.disabled label {
    color: Colours.$base_grey-bright;
  }
  .button-group {
    button {
      width: 5.5em;
      border-color: Colours.$br_black;
      &.rule-out {
        background-color: Colours.$bg-green;
      }
      &.accuse {
        background-color: Colours.$bg-red;
      }
      &.active:not(.disabled) {
        cursor: unset;
        color: Colours.$c-black;
      }
      &.inactive:not(.disabled) {
        color: Colours.$c-black;
        background-color: darkgray;

        &:hover {
          background-color: gray;
          color: white;
          border-color: white;
        }
      }
      &.disabled {
        color: Colours.$btn_disabled_c;
        background-color: Colours.$btn_disabled_bg;
        border-color: Colours.$btn_disabled_br;
      }
    }
  }
}
