@use "../vars/Colours.scss";

.selection-mode {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    flex-shrink: 1;
    text-align: center;
    text-overflow: ellipsis;
    text-wrap-mode: wrap;
  }
  .button-group {
    button {
      width: 5.5em;
      border-color: Colours.$br_black;
      &.rule-out {
        background-color: Colours.$bg-green;
      }
      &.accuse {
        background-color: Colours.$bg-red;
      }
      &.active {
        cursor: unset;
        color: Colours.$c-black;
      }
      &.inactive {
        color: Colours.$c-black;
        background-color: darkgray;

        &:hover {
          background-color: gray;
          color: white;
          border-color: white;
        }
      }
    }
  }
}
