.suspect-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .icon {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .description-text {
    margin-right: 0.5em;
    text-wrap-mode: nowrap;
    &.hat {
      word-spacing: 0.65em;
    }
    &.shirt {
      word-spacing: 0.1em;
    }
  }
}

.collapsed .suspect-info .colour-text {
  border: 1px solid gray;
  padding: 0.2em;
  &:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  &:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
}
