$base_black: black !default;
$base_white: white !default;
$base_grey-brightest: #aaaaaa !default;
$base_grey-bright: #999999 !default;
$base_grey: grey !default;
$base_grey-dark: #505050 !default;
$base_grey-darkest: #101010 !default;
$base_green: green !default;
$base_green-dark: #005000 !default;
$base_green-darker: #003500 !default;
$base_red: red !default;

$bg-black: $base_black;
$bg-white: $base_white;
$bg-dark: $base_grey-darkest;
$bg-bright: $base_grey-bright;
$bg-green: $base_green;
$bg-red: $base_red;

$c-white: $base_white;
$c-black: $base_black;
$c_green: $base_green;
$c-grey: $base_grey;

$br_black: $base_black;

$default_background: $bg-dark;

$btn_hover_c: $bg-black;
$btn_hover_bg: $base_grey-brightest;
$btn_hover_br: $c-black;
$btn_disabled_c: $base_grey;
$btn_disabled_bg: $base_grey-dark;
$btn_disabled_br: $base_grey-dark;
$btn_next-round_bg: $base_green-darker;
$btn_next-round_hover_bg: $base_green;
$btn_next-round_autoclick_c: $base_grey-bright;
$btn_next-round_autoclick_bg: $base_green-darker;

$loading-indicator_unfilled: $base_grey-darkest;
$loading-indicator_nextQuarter: $base_grey;
$loading-indicator_filled: $base_white;

$switch_disabled_bg: $base_grey;
$switch_enabled_bg: $base_green;

$collapsor_c: $base_grey-brightest;
$collapsor_hover_c: $base_black;
$collapsor_hover_bg: $base_white;
