$bg-black: black !default;
$bg-white: white !default;
$bg-dark: #101010;
$bg-bright: #999999 !default;
$bg-green: green !default;
$bg-red: red !default;

$c-white: white !default;
$c-black: black !default;
$c-grey: grey !default;
