$padding-control-panel: 1em;
$margin-person: 0px;

$person_a-l-w: 50px;
$person_a-l-h: 100px;
$person_r-m-w: 50px;
$person_r-m-h: 100px;
$person_r-l-w: 7vw;
$person_r-l-h: 14vw;
$person_r-xl-w: 6vw;
$person_r-xl-h: 12vw;
$person_r-xxl-w: 4.75vw;
$person_r-xxl-h: 9.5vw;

$control-panel_w-m: 100%;
$control-panel-w-l: 50em;
$control-panel_w-xl: 50em;
$control-panel_w-xxl: 50em;
