$person_hat: 80;
$person_head: 70;
$person_shirt: 60;
$person_pants: 50;
$person_overlay: 100;
$control-panel: 900;
$control-panel_suspect-info: 920;
$round-summary: 950;
$modal_overlay: 990;
$modal: 999;
$tooltip_overlay: 1100;
$tooltip: 1110;
$debuginfo: 2000;
