.gradient-range-slider {
  position: relative;
  height: 3em;

  border-radius: 1em;
  .gradients > * {
    height: 1em;
    box-sizing: border-box;

    &:first-child {
      border-top-left-radius: 0.25em;
      border-top-right-radius: 0.75em;
    }
    &:last-child {
      border-bottom-left-radius: 0.75em;
      border-bottom-right-radius: 0.25em;
    }
  }

  &.saturation {
    .red {
      background-image: linear-gradient(to right, grey, red);
    }
    .green {
      background-image: linear-gradient(to right, grey, #00ff00);
    }
    .blue {
      background-image: linear-gradient(to right, grey, blue);
    }
  }
  &.value {
    .red {
      background-image: linear-gradient(to right, #000000, red);
    }
    .green {
      background-image: linear-gradient(to right, #000000, #00ff00);
    }
    .blue {
      background-image: linear-gradient(to right, #000000, blue);
    }
  }

  .slider {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .bookend {
    position: absolute;
    top: 50%;
    width: 3%;
    height: 110%;
    box-sizing: border-box;

    &.min {
      transform: translate(-5%, -50%);
      box-sizing: border-box;

      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
      border-top: 0.25em solid white;
      border-left: 0.25em solid white;
      border-bottom: 0.25em solid white;
    }
    &.max {
      transform: translate(+5%, -50%);
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      border-top: 0.25em solid white;
      border-right: 0.25em solid white;
      border-bottom: 0.25em solid white;
    }
  }
}
