.difficulty-breakdown {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;

  .settings {
    width: 100%;

    .setting-saturation {
      width: 100%;
    }
  }

  .difficulty-option-scale {
    width: 21em;
  }
}
