.difficulty-breakdown {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;

  .settings {
    width: 100%;

    .gradient-range-slider {
      margin-top: 0.25em;
    }
  }
}
