.difficulty-breakdown {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;

  .difficulty-option-scale {
    width: 21em;
  }
}
