@use "../../_theme";

$panel_how-to-play_w: 90%;
$panel_difficulty-settings_w: 90%;
$panel_difficulty-settings_mh: 10vw;

.main-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  > * {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .column {
      width: 100%;
      height: 100%;
      flex: 1 0 0;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding: 1em;

      &:first-child,
      &:last-child {
        justify-content: center;
      }
    }

    .title {
      font-size: 5em;
    }

    .how-to-play {
      width: $panel_how-to-play_w;
      display: flex;
      flex-direction: column;
      padding: 1em;

      .header {
        text-align: center;
      }

      .general-instructions {
        font-size: large;
      }
    }

    .difficulty-selection {
      width: 100%;
      box-sizing: border-box;
    }

    .difficulty-settings {
      width: $panel_difficulty-settings_w;
      min-height: $panel_difficulty-settings_mh;
      display: flex;
      justify-content: center;

      .custom-difficulty .settings {
        * {
          font-size: x-large;
        }
        .setting:not(:first-child) {
          margin-top: 1em;
        }
      }
    }

    .new-game-container {
      margin-top: 2em;
    }
  }
}
