@use "/src/styles/vars/Layers";

.head-container {
  position: relative;
  width: 100%;
  height: 25%;

  .head {
    z-index: Layers.$person_head;
    position: absolute;
    transform: translate(-50%);
    background-color: red;
    width: 50%;
    height: 100%;
    left: 50%;
    clip-path: circle();
    display: flex;
    align-items: stretch;
  }
}
