@use "vars/Breakpoints";
@use "vars/Colours";

$z_body-hat: 80;
$z_body-head: 70;
$z_body-shirt: 60;
$z_body-pants: 50;
$z_body_overlay: 100;
$z_control-panel: 900;
$z_control-panel_suspect-info: 920;
$z_modal-overlay: 990;
$z_modal: 999;
$z_tooltip: 1000;

$border_width_l: 5px;
$border_ui-l: $border_width_l gray dotted;

$border-radius_btn_l: 0.5em;
