@use "_theme";
@use "vars/Colours";
@use "vars/Dimensions";

.control-panel-container {
  z-index: theme.$z_control-panel;
}

.control-panel {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  position: relative;
  padding: Dimensions.$padding-control-panel;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: Colours.$bg-black;

  &.collapsed {
    padding: 0.5em;
    padding: 0;
    height: 4em;
    justify-content: flex-start;
    align-items: center;

    .info {
      margin: 0 1em 0 1em;
      .suspect-info {
        .colour-text {
          border: 1px solid gray;
          padding: 0.2em;
          &:first-child {
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
          }
          &:last-child {
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
          }
        }
      }
    }
  }
  &.expanded {
    .selection-mode {
      width: 50%;
      height: 100%;
      margin: auto;
    }
    .info {
      width: 50%;
      .suspect-info {
        p {
          text-align: center;
        }
      }
      .icon {
        margin-left: 0.5em;
        margin-right: 0.5em;
      }
    }
  }

  &:has(.selection-mode.accuse) {
    border-color: red;
  }

  h2 {
    font-size: xx-large;
    text-align: center;
  }

  .selection-mode {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(.accuse) .description .accuse {
      visibility: hidden;
    }
    &:not(.rule-out) .description .rule-out {
      visibility: hidden;
    }

    .description {
      width: 100%;
      position: relative;
      p {
        width: 100%;
        position: absolute;
      }
    }
    p {
      flex-shrink: 1;
      text-align: center;
      text-overflow: ellipsis;
      text-wrap-mode: wrap;
    }
    .button-group {
      button {
        border-color: Colours.$br_black;
        &.rule-out {
          background-color: Colours.$bg-green;
        }
        &.accuse {
          background-color: Colours.$bg-red;
        }
        &.active {
          cursor: unset;
          color: Colours.$c-black;
        }
        &.inactive {
          color: Colours.$c-black;
          background-color: darkgray;

          &:hover {
            background-color: gray;
            color: white;
            border-color: white;
          }
        }
      }
    }
  }

  .status {
    margin: 0;
  }
  .info {
    text-align: center;
  }
  .collapsor {
    position: absolute;
    left: 100%;
    top: 0%;
    transform: translate(-100%);
    width: 4em;
    height: 4em;
    border-bottom-left-radius: 5px;
  }
}

.collapsor {
  position: relative;
  cursor: pointer;

  &:hover {
    color: black;
    background-color: gray;
    border: white solid 1px;
    border-top: 0px;
    border-right: 0px;
  }

  .icon {
    font-size: xx-large;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-main-menu {
  margin-top: 1em;
  font-size: large;
  .icon {
    font-size: larger;
  }
}

.btn-restart-container {
  display: flex;
  justify-content: center;
  .btn-restart {
    font-size: xx-large;
    border: theme.$border_ui-l;
    border-style: dotted;
    padding: 0.75em;
    border-radius: 0;
    border-top-left-radius: theme.$border-radius_btn_l;
    border-top-right-radius: theme.$border-radius_btn_l;
  }
}
