@use "_theme";
@use "vars/Colours";

button {
  color: Colours.$c-white;
  padding: 0.5em;
  border: 0.1em solid Colours.$c-white;
  border-radius: theme.$border-radius_btn_l;

  &[disabled] {
    cursor: not-allowed;
    background-color: Colours.$btn_disabled_bg;
    color: Colours.$btn_disabled_c;
    border-color: Colours.$btn_disabled_br;
  }
  &:not([disabled]) {
    cursor: pointer;
    background-color: Colours.$bg-black;
    &:hover {
      background-color: Colours.$btn_hover_bg;
      color: Colours.$btn_hover_c;
      border-color: Colours.$btn_hover_br;
    }
  }
}
