@use "_theme";
@use "vars/Colours";

button {
  color: Colours.$c-white;
  padding: 0.5em;
  border: 0.1em solid Colours.$c-white;
  border-radius: theme.$border-radius_btn_l;

  &[disabled] {
    background-color: Colours.$bg-dark;
    color: Colours.$bg-black;
    border-color: Colours.$c-grey;
  }
  &:not([disabled]) {
    cursor: pointer;
    background-color: Colours.$bg-black;
    &:hover {
      background-color: Colours.$bg-bright;
      color: Colours.$bg-black;
      border-color: Colours.$c-black;
    }
  }
  &.large {
    font-size: x-large;
  }

  > .icon {
    vertical-align: text-bottom;
  }
}

h2 {
  > .icon {
    vertical-align: sub;
  }
}

.white {
  color: Colours.$c-white;
}

.hex {
  text-transform: uppercase;
}

.button-group {
  display: inline-flex;

  &.large {
    button {
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.ui-panel {
  border: theme.$border_ui-l;
}

div.setting {
  display: flex;
  justify-content: space-between;
  align-items: end;

  input {
    margin-left: 1em;
  }
}

input.cool {
  color: white;
  background-color: black;
  border: 0.1em solid white;
  border-radius: 7px;
  height: 1em;
  width: 3em;
}
