@use "theme";
@use "vars/colours";

$large-border-radius: 10px;

button {
  color: colours.$c-white;
  padding: 0.5em;
  border: 0.1em solid colours.$c-white;
  border-radius: $large-border-radius;

  &[disabled] {
    background-color: colours.$bg-dark;
    color: colours.$bg-black;
    border-color: colours.$c-grey;
  }
  &:not([disabled]) {
    cursor: pointer;
    background-color: colours.$bg-black;
    &:hover {
      background-color: colours.$bg-bright;
      color: colours.$bg-black;
      border-color: colours.$c-black;
    }
  }
  &.large {
    font-size: x-large;
  }
}

.white {
  color: colours.$c-white;
}

.hex {
  text-transform: uppercase;
}

.button-group {
  display: inline-flex;

  &.large {
    button {
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.ui-panel {
  border: theme.$border_ui-l;
}

div.setting {
  display: flex;
  justify-content: space-between;
  align-items: end;

  input {
    margin-left: 1em;
  }
}

input.cool {
  color: white;
  background-color: black;
  border: 0.1em solid white;
  border-radius: 7px;
  height: 1em;
  width: 3em;
}
