@use "vars/Layers";
@use "vars/Breakpoints";
@use "vars/Colours";
@use "vars/Dimensions";

.game-session {
  position: fixed;
  box-sizing: border-box;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;

  .people-container {
    box-sizing: border-box;
    width: 100%;
    flex: 1 0 0;
    border: 2px gray dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: Colours.$bg-black;

    .people {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  }
  .control-bar {
    width: 100%;
    flex-grow: 0;

    .bottom-left,
    .bottom-right {
      flex: 1 0 0;
    }
  }
}

@media (max-width: Breakpoints.$breakpoint-medium) {
  .person-container {
    width: Dimensions.$person-a-l-w;
    height: Dimensions.$person-a-l-h;
  }
}
@media (min-width: Breakpoints.$breakpoint-medium) {
  .person-container {
    width: Dimensions.$person-r-l-w;
    height: Dimensions.$person-r-l-h;
  }
}
@media (min-width: Breakpoints.$breakpoint-x-large) {
  .person-container {
    width: Dimensions.$person-r-xl-w;
    height: Dimensions.$person-r-xl-h;
  }
}
@media (min-width: Breakpoints.$breakpoint-xx-large) {
  .person-container {
    width: Dimensions.$person-r-xxl-w;
    height: Dimensions.$person-r-xxl-h;
  }
}
