@use "theme";
@use "vars/colours";
@use "vars/dimensions";

.person-container {
  position: relative;
  width: dimensions.$person-a-l-w;
  height: dimensions.$person-a-l-h;
  margin: dimensions.$margin-person;

  &:hover,
  :hover {
    * {
      visibility: visible;
    }
  }

  .person {
    position: relative;
    width: 100%;
    height: 100%;
    &.revealed-suspect .icon-overlay {
      display: flex;
      border: 0.1em solid green;
      align-items: center;
      .icon {
        font-size: 2.5em;
        color: white;
        border-color: white;
        opacity: 0.5;
      }
    }
    &.accused .icon-overlay {
      display: unset;
      border: 0.1em solid red;

      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='red' stroke-width='3'/><path d='M0 0 L100 100 ' stroke='red' stroke-width='3'/></svg>");
    }

    &:not(.disabled) {
      cursor: pointer;
      &:hover {
        background-color: colours.$bg-white;
      }
    }
  }

  &.ruled-out {
    background-color: colours.$bg-black;

    .icon-overlay {
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='black' stroke-width='5'/><path d='M0 0 L100 100 ' stroke='black' stroke-width='5'/></svg>");

      background-color: grey;
      opacity: 0.5;
      display: flex;

      .icon {
        margin-top: 0.25em;
      }
    }
  }

  .icon-overlay {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    height: 99%;
    width: 99%;
    font-size: x-large;
    z-index: theme.$z_body_overlay;

    .icon {
      padding: 0.1em;
      border: 0.1em solid white;
      border-radius: 1em;
    }
  }
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
