@use "_theme";
@use "vars/Colours";
@use "vars/Dimensions";

.person-container {
  // position: relative;
  margin: Dimensions.$margin-person;

  &.hidden {
    display: none;
  }

  .person {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1em;

    &:not(.disabled) {
      cursor: pointer;
      &:hover {
        background-color: Colours.$bg-white;
      }
    }

    &.accused:not(.suspect) .accused-overlay {
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='red' stroke-width='3'/><path d='M0 0 L100 100 ' stroke='red' stroke-width='3'/></svg>");
    }
  }

  &:not(.ruled-out) .ruled-out-overlay {
    visibility: hidden;
  }
  &:not(.suspect) .suspect-overlay {
    visibility: hidden;
  }
  &:not(.accused) .accused-overlay {
    visibility: hidden;
  }

  .person-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: x-large;
    z-index: theme.$z_body_overlay;

    .icon {
      padding: 0.1em;
      border: 0.1em solid white;
      border-radius: 1em;
    }

    > * {
      position: absolute;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 1em;
    }

    .suspect-overlay {
      border: 0.15em solid white;
    }
    .accused-overlay {
      border: 0.15em solid red;
    }
    .ruled-out-overlay {
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='black' stroke-width='5'/><path d='M0 0 L100 100 ' stroke='black' stroke-width='5'/></svg>");
      background-color: grey;
      opacity: 0.5;
      border-radius: 0.65em;
    }
  }
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
