@use "vars/Colours";

.tutorial {
  font-size: 1.5em;

  .tutorial-task {
    &.complete {
      color: Colours.$c_green;
    }
    &.incomplete {
      .check-mark {
        visibility: hidden;
      }
    }

    .check-mark {
      position: absolute;
      color: Colours.$c_green;
      vertical-align: text-bottom;
      margin-left: 0.25em;
      margin-right: 0.25em;
    }

    &.tutorial-colour-task {
      > .dot {
        position: relative;
        width: 1.5em;
        height: 1.5em;
        border-radius: 1em;
        margin-left: 1em;
      }
      .check-mark {
        left: 110%;
        top: 90%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .tutorial-chart-legend {
    p {
      margin: 0;
    }
    .icon {
      margin-left: 0.25em;
      margin-right: 0.5em;
    }
  }
}
