@use "/src/styles/vars/Colours";

.difficulty-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;

  h2 {
    font-size: 2em;
    margin: 0;
  }

  .options {
    display: flex;
    align-items: center;
  }
}

.difficulty-selection-option {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;

  .icon {
    position: absolute;
    font-size: 3em;

    &.left {
      left: -0.5em;
    }
    &.right {
      right: -0.5em;
    }
  }

  button {
    font-size: 2em;
    border: 0.1em dashed grey;

    &.for-l {
      width: 7em;
    }
  }

  &:not(.selected) {
    .icon {
      visibility: hidden;
    }
    button:not(:hover) {
      color: Colours.$btn_disabled_c;
    }
  }

  &.easiest {
    button {
      border-color: #ff00ff #00ff00 #ffffff #00ffff;
    }
  }
  &.easy {
    button {
      border-color: #bb00ff #33cc00 #bbbbbb #00bbff;
    }
  }
  &.normal {
    button {
      border-color: #8822ff #66cc11 #777777 #2288ff;
    }
  }
  &.hard {
    button {
      border-color: #6644dd #77aa44 #444444 #4488dd;
    }
  }
  &.hardest {
    button {
      border-color: #555588 #779966 #222222 #5566aa;
    }
  }
}
