@use "../_theme";

.shirt-container {
  position: relative;
  width: 100%;
  height: 25%;

  .shirt {
    z-index: theme.$z_body-shirt;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    transform: translate(-50%);

    &.v-2 {
      clip-path: polygon(50% -30%, 110% 100%, -10% 100%);
    }
    &.v-3 {
      clip-path: polygon(-15% 0%, 115% 0%, 50% 130%);
    }
    &.v-4 {
      width: 60%;
      height: 120%;
      top: -10%;
      clip-path: circle();
    }
    &.v-5 {
      width: 30%;
      height: 100%;
    }
  }
}
