@use "/src/styles/vars/Colours";
@use "/src/styles/theme";

.tooltip {
  cursor: help;
  border-bottom: 1px dotted Colours.$tooltip_br;
}

.tooltip-overlay {
  z-index: theme.$z_tooltip_overlay;
  position: fixed;
  background-color: rgb(0, 0, 0, 75%);
  left: 0%;
  bottom: 0%;
  width: 100%;
  min-height: 100px;
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

.tooltip-text {
  z-index: theme.$z_tooltip;
  position: relative;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 10em;
  background-color: Colours.$tooltip_bg;
  text-align: center;

  h3 {
    margin: 0 0 0.5em 0;
  }

  &::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 0.75em;
    border-style: solid;
    border-color: Colours.$tooltip_bg transparent transparent transparent;
    transform: translate(-50%);
  }
}
