@use "/src/styles/theme";
@use "/src/styles/vars/Colours";

.control-bar {
  z-index: theme.$z_control-panel;
  position: relative;
  box-sizing: border-box;
  padding-top: 1em;

  .area-left {
    display: flex;
    justify-content: space-between;
    flex: 1 0 0;

    .area-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      button {
        font-size: 1.1em;
        .icon {
          font-size: 1.2em;
        }
      }
    }
  }

  .area-center {
    position: relative;
    flex: 0 0 50%;
    height: 100%;

    .area-suspect-info {
      position: absolute;
      z-index: theme.$z_control-panel_suspect-info;
      box-sizing: border-box;
      left: 50%;
      bottom: 0%;
      transform: translate(-50%);
      min-height: 120%;
      width: 90%;
      padding: 1em;

      display: flex;
      flex-direction: column;
      align-items: center;

      .status-text {
        position: relative;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0.25em;
        text-wrap-mode: nowrap;
      }

      .suspect-info {
        flex-grow: 1;
      }

      .collapsor {
        border: 1px Colours.$base_grey solid;
        &.expanded {
          visibility: hidden;
        }
      }
    }
  }

  .area-right {
    display: flex;
    justify-content: space-between;
    flex: 1 0 0;

    .area-rule-out {
      display: flex;
      flex-direction: column;

      .selection-mode {
        margin-bottom: 0.5em;
        p {
          margin-bottom: 0;
        }
      }

      .btn-group-ruled-out {
        > :not(:last-child) {
          margin-right: 0.5em;
        }
      }
    }
    .area-round-navigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .btn-group-ruled-out {
    > button {
      width: 7em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        font-size: 2em;
      }
      span {
        font-size: 0.9em;
      }
    }
  }

  button.btn-next-round {
    &:not([disabled]) {
      background-color: Colours.$btn-next-round_bg;
      &:hover {
        background-color: Colours.$btn_next-round_hover_bg;
      }
    }
    &.auto-click {
      color: Colours.$btn_next-round_autoclick_c;
      background-color: Colours.$btn_next-round_autoclick_bg;
      .icon {
        color: Colours.$c-white;
      }
    }
  }
}

.round-summary {
  position: fixed;
  box-sizing: border-box;
  box-sizing: border-box;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
